<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Link shortener</title>
    </head>

    <h1 align="center">Сайт по сокращению ссылок</h1>

    <body>
        <form th:method="POST" th:action="@{/api/v1/link/save}" th:object="${originalLink}" >
            <label for="link">Введите ссылку:</label>
            <input type="text" id="link" name="*{link}" placeholder="Введите ссылку"/>
            <input type="submit" value="Сократить"/>
        </form>
        <p th:text="|Сокращенная ссылка: ${linkShortener}|"></p>
    </body>
</html>
